# System files
# ------------
Icon
.DS_Store

# Temporary files
# ---------------
/public/media/*
!/public/media/index.html

# Lock files
# ---------------
.lock

# -------------SECURITY-------------
# NEVER publish these files via Git!
# -------------SECURITY-------------

# Storage Files
# ---------------
/storage

# Plugins
# ---------------
/site/plugins/*
!/site/plugins/index.html

# Sessions
# ---------------
/storage/sessions/*
!/storage/sessions/index.html

# License
# ---------------
/site/config/.license

# Vendor files
# ---------------
/node_modules
/vendor
